@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Patua+One&family=Poppins&family=Satisfy&display=swap');

/* reseting to zero margins paddings and borders from all the elements*/
   *{ 
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Popinns, sans-serif;
    background-color: #251d17;
    color: #e1d5d5;
    min-height: 100vh;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
}

header {
    height: 20vh;
    display: block;
    border-bottom: 1px  solid whitesmoke;
    border-radius: 20%;
}
/* logo styling */
#logo{
    float: left;
    font-size: large;
    text-decoration: none;
}
/* The Logo formed by three span wit ids "Learn" "7*space" "Italian" */
#logo-learn{
    font-family: 'Patua One', sans-serif;
    color: whitesmoke;
    letter-spacing: 3px;
    background-color: hsla(120, 63%, 30%, 0.8);
    padding-bottom: 0.2em;
}

#logo-space{
    letter-spacing: 3px;
    background-color: hsla(0, 0%, 96%, 0.8);
    padding-bottom: 0.2em;
}

#logo-italian{
    font-family: 'Satisfy', sans-serif;
    color: whitesmoke;
    font-style: italic;
    background-color: hsla(0, 100%, 50%, 0.8);
    letter-spacing: 1px;
}

/* menu styling */
#menu{
    float: right;
    letter-spacing: 2px;
    font-size: 1.2rem;
}

#menu li{
    list-style-type: none;
    margin-right: 30px;
    float: left;
}

.register{
    background-color: #cb3939;
    color: #bfc4c8;
    padding: 0px 15px ;
    border:1px solid white;
    border-radius: 1rem;
    letter-spacing: 2px;
    font-size: 1.2rem;
}

#menu a{
    text-decoration: none;
    color:inherit;
}

#menu li:hover{
    text-decoration: underline;
}

/* for wining "#menu li:hover" rule it is neccessary to re-define "#menu .register:hover" */
#menu .register:hover, .register:hover{
    color: #b34a12;
    background-color: #7ad27d;
}

#menu .active{
    text-decoration: underline;
}

#menu, #logo{
    line-height: 30px;
    margin: 50px 20px;
}

#menu li:hover,#logo :hover{
    color: #7ad27d;
}
#logo-space:hover{
    background-color: #7ad27d;
}
    
/* hero image  */
#hero-image-section{
    height: 500px;
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
} 

#hero-iamge-container{
    background: url('../images/hero-image.jpg') no-repeat center center;
    height: 500px;
    width: 100%;
    
/* Apply the animation to an element with a background image */
  animation-name: zoomin;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
    
    
/* hero image animation definition */
@keyframes zoomin {
    from {
    transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

  /* cover text styling */
  hr{
    border-bottom: 2px solid whitesmoke ;
    width: 100%;
    margin: 1rem auto;
  }

  #cover-text, #cover-text h2{
    text-align: center;
    color: #7ad27d
  }
  #cover-text{
    width: auto;
    height: auto;
    letter-spacing: 2px;
    font-family: Poppins;
    font-size: 150%;
    background-color: hsla(210, 27%, 19%, 0.8);
    padding: 15px 20px;

    position: absolute;
    top: 20px;
    left: 35%;
  }

  #cover-text .bella{
    font-size: 200%;
    color: #ccbeb7;
  }

  #cover-text .bella span{
    font-family: 'Satisfy', sans-serif;
    font-size: 150%;
    color: #37cf0d;
  }
 

  #piched-fingers{
    display:inline;
  }

/* Course overview section styling */
#course-overview-wrapper, #info-wrapper{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
}

.why-box, .info-box{
    border: 1px solid whitesmoke;
    line-height: 2.5rem;
    box-sizing: border-box;
    padding: 3rem ;
    border-radius: 2rem;
}

.why-box{
    width: 33%;
}
#why-left{
    float: left;
    background-color: #096c00;
    border: 1px solid whitesmoke;
}
#why-right{
    float: right;
    background-color: #a13826;
    border: 1px solid whitesmoke;
}
#why-center{
    margin:0 auto;
    background-color: #d8e5e7;
    color: #3a3a3a;
    border: 1px solid whitesmoke;
}
.why-box h2, .info-box h2{
    margin-bottom: 1rem;
    text-align: center;
    font-size: 200%;
}

#why-left:hover{
    float: left;
    background-color: #3d8536;
}
#why-right:hover{
    float: right;
    background-color: #a06359;
}
#why-center:hover{
    margin:0 auto;
    background-color: hsl(61, 69%, 86%);
    color: #3a3a3a;
}

/* course overview, info section styling */
#info-wrapper{
     background-color: whitesmoke; /*it will coveer the border */
    color: #3a3a3a;
}
.info-box{
    width: 50%;
}

#info-left{
    float: left;
}

#info-right{
    float: right;
}

.info-box a{
    display: block;
    width: 75%;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    font-size: 175%;
    line-height: 4rem;
}

#info-left a{
    color: #38349c;
    border: 1px solid   #38349c;
    border-radius: 1rem;
}

#info-left a:hover{
    color:  #3b973f;
    border: 1px solid  #3b973f;
    border-radius: 1rem;
}

/* Footer styling */
footer{
    display: block;
    height: 20vh;
    border-top:1px solid whitesmoke;
    border-radius: 20%;
}

.social-media, .contact{
    box-sizing: border-box;;
    padding: 1rem 2rem;
    
}
.social-media{
    float: left;
    width: 70%;
    text-align: center;
}

.social-media li{
    display: inline;
    list-style-type: circle;
}
.social-media i{
    font-size: 200%;
    padding: 1rem 1.2rem;
    margin: 2rem;
    color: whitesmoke;
}

.contact{
    float: right;
    width: 30%;
    
}

.contact caption{
    font-size: larger;
    font-weight: 900;
    color: #7ad27d;
    text-align:left;
    padding-left: 2rem;
}

.social-media i:hover{
    color: #7ad27d;
    font-size: 215%;
}

.contact tr :hover{
    color: #7ad27d;
    font-size: larger;
}

/* Form styling */
#register-content-container{
    clear: left;
    background: url('../images/hero-image.jpg');
    background-size: cover;
    background-position: center;
    height: 900px;

    padding-top: 10rem;
}
#registration-section{
    margin:1rem auto;
    width: 25rem;
    height: auto;
    background-color: hsla(163, 61%, 44%, 0.9);
    color:#2d4165;

    border: 1px solid black;
    border-radius: 1.5rem;
}

#registration-form{
    padding: 1rem 2rem;
    margin: auto 0;
}
fieldset legend{
margin-top: 2rem;
}
#registration-section legend{
    padding-top: 1rem;
    padding-left: 3rem;
}

#registration-form label{
    display: block;
    padding-left: 1rem;
}
.input{
    background-color: transparent;
    width: 80%;
    margin-left: 1rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
    height: 1.5rem;
    border:0.1px solid #38349c;
    border-radius: 0.5rem;
}
#course-level option{
    line-height: 375%;
}

#registration-form #radio-wrapper label{
    margin-left: 1rem;
    display: inline;
}

#registration-form input[type=submit]{
    margin: 1rem 3rem;
    padding: 0 1rem;
    line-height: 175%;
}

.input:hover, #radio-wrapper label:hover{
    color: #d03333;
    border:1px solid #c5d8da;
}

/* courses and prices styling */
#courses-heading{
    padding: 1rem 2rem;
    margin: 2rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    line-height: 4rem;
    font-size: 1.5rem;
}
#courses-heading h2{
    text-align: center;
    font-size: 250%;
    font-family: 'Satisfy', sans-serif;
}

#course-wrapper{
 width: 100%;
 overflow: hidden;
 column-count: 3;
 column-gap: 2rem;
 margin: 2rem 0;
}
.course-box{
    overflow: hidden;
    margin:0 2rem 2rem 0 ; /* top margin causes unalignment */
    padding: 1rem 2rem;
    border: 1px solid #606060;
    border-radius: 1rem;
    background-color: #e0e0e0;
    color: #3a3a3a;
}

.img-course-box{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 1px solid whitesmoke;
}

.course-box h2{
    text-align: center;
    padding: 1rem 2rem;
    margin: 1rem 0;

    border: 0.2rem solid #3a3a3a;
    border-radius: 1rem;
    border-style: inset;
}

.course-box p{
    padding: 0.5rem 1rem;
    line-height: 2rem;
    font-size: 1.2rem;
}

.course-box:hover{
    border: 1px solid rgb(200, 54, 54);
    border-radius: 1rem;
    background-color: #c5c3c5;
    border-radius: 1.2rem;
    border-style: outset;
}

.course-box h2:hover{
    border-style: outset;
}
