@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Patua+One&family=Poppins&family=Satisfy&display=swap');



/* reseting to zero margins paddings and borders from all the elements*/
   *{ 
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Popinns, sans-serif;
    background-color: #251d17;
    color: #e1d5d5;
    min-height: 100vh;
    max-width: 2200px;
    margin-left: auto;
    margin-right: auto;
}

header {
    height: 20vh;
    display: block;
    border-bottom: 1px  solid whitesmoke;
    border-radius: 20%;
}
/* logo styling */
#logo{
    float: left;
    font-size: large;
    text-decoration: none;
}
/* The Logo formed by three span wit ids "Learn" "7*space" "Italian" */
#logo-learn{
    font-family: 'Satisfy', sans-serif;
    color: #effbfb;
    letter-spacing: 3px;
    background-color: #52b17b;

    border: 1px solid #52b17b;
    border-radius: 0.5rem;
}

#logo-space{
    letter-spacing: 3px;
    background-color: #bbbbbb;
    padding-bottom: 0.2em;

    border: 1px solid #bbbbbb;
    border-radius: 0.5rem;
}

#logo-italian{
    font-family: 'Satisfy', sans-serif;
    color: #dcdcdc;
    font-style: italic;
    background-color: #ca4f4f;
    letter-spacing: 3px;

    border: 1px solid #ca4f4f;
    border-radius: 0.5rem;
    
}

/* menu styling */
#menu{
    float: right;
    letter-spacing: 2px;
    font-size: 1.2rem;
}

#menu li{
    list-style-type: none;
    margin-right: 30px;
    float: left;
}

.register{
    background-color: #e95252;
    color: #e4dddd;
    font-weight: 700;
    padding: 0px 15px ;
    border:1px solid white;
    border-radius: 1rem;
    letter-spacing: 2px;
    font-size: 1.2rem;
}

#menu a{
    text-decoration: none;
    color:inherit;
}

#menu li:hover{
    text-decoration: underline;
    transition: 0.6s;
}

/* for wining "#menu li:hover" rule it is neccessary to re-define "#menu .register:hover" */
#menu .register:hover, .register:hover{
    color: #ffffff;
    background-color: #bb312a;
    transition: 0.6s;
    border: 1px solid whitesmoke;

}

#menu .active{
    text-decoration: underline;
}

#menu, #logo{
    line-height: 30px;
    margin: 50px 20px;
}

#menu li:hover,#logo :hover{
    color: #7ad27d;
    transition: 0.6s;
}
#logo-space:hover{
    background-color: #ffffff;
    transition: 0.6s;
}

#logo-learn:hover{
    background-color: #056b2c;
    transition: 0.6s;
}

#logo-italian:hover{
    background-color: #cf1010;
    transition: 0.6s;
}
    
/* hero image  */
#hero-image-section{
    height: 500px;
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;  /* because cover text possision is absolute */
} 

#hero-iamge-container{
    background: url('../images/hero-image.jpg') no-repeat center center;
    aspect-ratio: 2/1;
    width: 100%;
    /* animate */
    animation: zoomin 4s forwards;
}
    
  /* cover text styling */
  hr{
    border-bottom: 2px solid whitesmoke ;
    width: 100%;
    margin: 1rem auto;
  }

  #cover-text, #cover-text h2{
    text-align: center;
    color: #7ad27d
  }
  #cover-text{
    width: auto;
    height: auto;
    letter-spacing: 2px;
    font-family: Poppins;
    font-size: 150%;
    background-color: hsla(210, 27%, 19%, 0.8);
    padding: 15px 20px;

    position: absolute;
    top: 20px;
    left: 35%;
  }

  #cover-text .bella{
    font-size: 200%;
    color: #ccbeb7;
  }

  #cover-text .bella span{
    font-family: 'Satisfy', sans-serif;
    font-size: 150%;
    color: #37cf0d;
  }
 

  #piched-fingers{
    display:inline;
  }

/* Course overview section styling */
#course-overview-wrapper, #info-wrapper{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
}

.why-box, .info-box{
    line-height: 2.5rem;
    box-sizing: border-box;
    padding: 3rem 2rem 2rem 4rem;
    border-radius: 2rem;
    width: 33%;
    color: #3a3a3a;
}

#why-left{
    float: left;
    background-color: #77dda3e3;
}
#why-right{
    float: right;
    background-color: #e6acace3;

}
#why-center{
    margin:0 auto;
    background-color: #dddddde3;
    border: 1px solid whitesmoke;
}
.why-box h2, .info-box h2{
    margin-bottom: 1rem;
    text-align: center;
    font-size: 200%;
}

.why-box h2{
    font-family: 'Patua One', sans-serif;
}

#why-left:hover{
    float: left;
    background-color: #77dda3;
    transition: 1s;
}
#why-right:hover{
    float: right;
    background-color: #e6acac;
    transition: 1s;
}
#why-center:hover{
    margin:0 auto;
    background-color: #dddddd;
    color: #3a3a3a;
    transition: 1s;
}

/* course overview, info section styling */
#info-wrapper{
     background-color: whitesmoke; /*it will coveer the border */
    color: #3a3a3a;
}
.info-box{
    width: 50%;
}

#info-left{
    float: left;
}

#info-right{
    float: right;
}

.info-box a{
    display: block;
    width: 75%;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    font-size: 175%;
    line-height: 4rem;
}

#info-left a{
    color: #38349c;
    border: 1px solid   #38349c;
    border-radius: 1rem;
}

#info-left a:hover{
    color:  #3a3a3a;
    border: 1px solid  #3a3a3a;
    border-radius: 1rem;
    transition: 0.4s;
}

/* Footer styling */
footer{
    display: block;
    height: 20vh;
    border-top:1px solid whitesmoke;
    border-radius: 20%;
}

.social-media, .contact{
    box-sizing: border-box;
    padding: 1rem 2rem;
    
}
.social-media{
    float: left;
    width: 70%;
    text-align: center;
}

.social-media li{
    display: inline;
    list-style-type: circle;
}
.social-media i{
    font-size: 200%;
    padding: 1rem 1.2rem;
    margin: 2rem;
    color: whitesmoke;
}

.contact{
    float: right;
    width: 30%;
    
}

.contact caption{
    font-size: larger;
    font-weight: 900;
    color: #7ad27d;
    text-align:left;
    padding-left: 2rem;
}

.social-media i:hover{
    color: #7ad27d;
    font-size: 200%;
    transition: 0.5s;
    /* animate */
        animation: pulse 1s forwards;
}

.contact tr :hover{
    color: #7ad27d;
    transition: 0.6s;
    /* animate */
    animation: zoomin 0.7s forwards;
}

/* courses and prices styling */
#course-section{
background-color: #2f2a7c;
}

#courses-heading{
    padding: 1rem 2rem;
    margin: 2rem;
    line-height: 4rem;
    font-size: 1.5rem;
    color:#cccccc
}
#courses-heading h2{
    text-align: center;
    font-size: 250%;
    font-family: 'Satisfy', sans-serif;
}

#course-wrapper{
 width: 100%;
 overflow: hidden;
 column-count: 3;
 column-gap: 2rem;
 margin: 2rem 0;
}
.course-box{
    overflow: hidden;
    margin:0 2rem 2rem 0 ; /* top margin causes unalignment */
    padding: 1rem 2rem;
    background-color: #323030;
    color: #cccccc;
    border-radius: 1.2rem;
}

.img-course-box{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
}

.course-box h2{
    text-align: center;
    padding: 1rem 2rem;
    margin: 1rem 0;
}

.course-box p{
    padding: 0.5rem 1rem;
    line-height: 2rem;
    font-size: 1.2rem;
    text-align: justify;

}

.course-box summary{
    font-size: 1.5rem;
    border: 1px solid #eeee;
    border-radius: 0.7rem;
    padding: 0.5rem 1rem;
}

.course-box:hover{
    background-color: #4b5050;
    transition: 0.7s;
    color:#eeeeee;
}

.course-box summary:hover{
    background-color: #505962;
    transition: 0.4s;
}

#go-register{
    background-color: #c5c3c5;
    float: none;
    width: 100%;
    color: #3a3a3a;
    padding: 1rem ;
    border-radius: 0;
    margin: 3rem auto;
}

#go-register a{
    width: 25rem;
}

/* Form styling */
#register-content-container{
    clear: left;
    background: url('../images/hero-image.jpg');
    background-size: cover;
    background-position: center;
    aspect-ratio: 16/9;
    padding-top: 10rem;
}
#registration-section{
    margin:1rem auto;
    width: 25rem;
    height: auto;

    background-color: #4cb2baf0;
    color:#3a3a3a;
    font-weight: 700;

    border: 1px solid black;
    border-radius: 1.5rem;
}

#registration-form{
    padding: 1rem 2rem;
    margin: auto 0;
}
fieldset legend{
margin-top: 2rem;
padding-top: 1rem;
padding-left: 3rem;
}

#registration-form label{
    display: block;
    padding-left: 1rem;
    margin-bottom: 0.2rem;
}
.input{
    width: 80%;
    height: 1.5rem;
    margin:0.2rem 1rem;
    margin-bottom: 2rem;
    padding: 0.2em 1rem;
    border:1px solid #38349c;
    border-radius: 0.5rem;
    font-size: 1.1rem;
}

#registration-form select{
    height: 2rem;
    width: 90%;
}

#course-level option{
    line-height: 375%;
}

#registration-form #radio-wrapper label{
    margin-left: 1rem;
    display: inline;
}

#registration-form input[type=submit]{
    margin: 1rem 3rem;
    padding: 0 1rem;
    line-height: 175%;
}

.input:hover, #radio-wrapper label:hover{
    color: #d03333;
    border:1px solid #c5d8da;
    transition: 0.3s;
}

/* hero image animation definition */

@keyframes pulse {
    0% {
    transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }

}

@keyframes zoomin {
    0% {
    transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}

/* medai query for tablet */
@media screen and (max-width :1050px){

      /* cover text styling */
  hr{
    border-bottom: 1px solid whitesmoke ;
  }

  #cover-text{
    font-size: 90%;
    padding: 1rem;
    position: absolute;
    top: 10%;
    left: 35%;
  }

    /* why-box and info-box */
    #course-overview-wrapper, #info-wrapper{
        display: inline-block;
        width: 100%;    
    }

    .why-box{
        text-align: center;
        border-radius: 1rem;
        width: 100%;
    }
    #course-overview #why-left, #why-center.why-box, #why-right.why-box{
        float: unset;
        margin-top: 1rem;
    }

    .info-box{
        width: 100%;
       
    }
    
    #info-left, #info-right{
        float: unset;
        margin: 1rem 0;
    }
    
    
}